<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/output.css">
    <title>Me</title>
</head>

<body class="bg-zinc-900 text-slate-50">

    <main class="max-w-3xl mx-auto p-12">
        <header class="flex justify-between border-b-2">
            Jon Karrer
            <nav>
                <a href="/journal">Journal</a>
                <a href="/projects">Projects</a>
            </nav>
        </header>
        <section class="border-b-2 ">
            <article>
                <h2>About</h2>
                <p>
                    I'm Jon, another programmer on another slice of the internet. Probably solving another problem, or
                    creating another thing. Take a look around at some of my stuff, or just say hi.
                </p>
            </article>
        </section>

        <section class="border-b-2">
            <article>
                <h2>Projects</h2>
                <h3>
                    Here are some of my frontend projects.
                </h3>
            </article>
            <div>
                <div>Project One</div>
                <div>Project Two</div>
                <div>Project Three</div>
            </div>

            <h3>Some backend projects</h3>
            <div>
                <div>Project One</div>
                <div>Project Two</div>
                <div>Project Three</div>
            </div>

            <h3>Some of my libraries</h3>
            <div>
                <div>Project One</div>
                <div>Project Two</div>
                <div>Project Three</div>
            </div>
        </section>

        <section class="border-b-2">
            <article>
                <h2>Journal</h2>
                <h3>
                    Here are some of my journal entries.
                </h3>
            </article>
            <div>
                <div>Entry One</div>
                <div>Entry Two</div>
                <div>Entry Three</div>
            </div>
        </section>

        <section class="border-b-2">
            <h2>Contact me here</h2>
            <menu>
                <a href="https://github.com/jonkarrer">GitHub</a>
                <a href="https://www.linkedin.com/in/jonkarrer">LinkedIn</a>
            </menu>
        </section>

        <footer class="flex justify-between">
            <p>© 2024 Jon Karrer</p>
            <p>Built with Rust 🦀</p>
        </footer>
    </main>
</body>

</html>