<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/output.css">
    <title>Me</title>
</head>

<body>

    <main>
        <header>
            Jon Karrer
            <nav>
                <a href="/journal">Journal</a>
                <a href="#projects">Projects</a>
            </nav>
        </header>
        <section class="border-b-2 py-8">
            <article class="grid gap-2">
                <h2>About</h2>
                <p>
                    I'm Jon, another programmer on another slice of the internet. Probably solving another problem, or
                    creating another thing. I love it, and will do it in a loop while alive is true. Take a look around
                    at some of my stuff, or just say hi.
                </p>
            </article>
            <img class="pt-8" src="/assets/image/looking_out.jpg" alt="pixel art of a robot">
        </section>

        <section id="projects" class="border-b-2 pt-8">
            <h2 class="pb-8">Projects</h2>

            <p class="pb-6">
                Some frontend focused projects....
            </p>
            <div class="grid gap-8 pb-8">


                <article class="grid gap-2">
                    <h3>Using AI</h3>
                    <p>
                        This is the central hub for my suite of Ai focused products. The purpose is to provide a landing
                        page for marketing and education. My goal is to provide every day tools that leverage Ai, and
                        wrap them in an easy to use interface.
                    </p>
                    <div class="pt-2">
                        <span class="underline">
                            <a href="https://www.usingai.app/">Website</a></span>
                    </div>
                </article>

                <article class="grid gap-2">
                    <h3>Landing Pages</h3>
                    <p>
                        My first tool under the Using Ai ecosystem. This is a tool that will generate a landing page
                        template based on a few buttons and prompt. It provides a clean and simple interface for
                        creating landing pages templates. Allows for exporting the html for further customization.
                    </p>
                    <div class="pt-2">
                        <span class="underline"><a href="https://landingpages.usingai.app/">Website</a></span>
                    </div>
                </article>

                <article class="grid gap-2">
                    <h3>Auidophile</h3>
                    <p>
                        My first large project with a framework back in 2019. It was a challenge project from the
                        website
                        <a class="underline" href="https://www.frontendmentor.io/">frontend mentors</a>. Decided to use
                        Next.js with TypeScript and Tailwind for this one. Still use these things today.
                    </p>
                    <div class="pt-2">
                        <span class="underline"><a href="https://github.com/jonkarrer/audiophile">Github</a></span>
                        <span class="underline"><a href="https://silly-dubinsky-a8c901.netlify.app/">Website</a></span>
                    </div>
                </article>
                <img src="/assets/image/saturn.jpg" alt="pixel art of saturn">
            </div>



            <p class="pb-6">
                Some backend focused projects....
            </p>
            <div class="grid gap-8 pb-8">
                <article class="grid gap-2">
                    <h3>Prep App</h3>
                    <p>
                        This is a fullstack application in Rust, my favorite language. Tried to go as
                        minimalistic as
                        possible, and had a ton of fun. Was hosting this on an amazon ec2 instance, but cost was
                        not
                        worth it.
                    </p>
                    <div class="pt-2">
                        <span class="underline"><a href="https://github.com/jonkarrer/prep">Github</a></span>
                    </div>
                </article>

                <article class="grid gap-2">
                    <h3>Recipe Api</h3>
                    <p>
                        Wanted to explore PHP and Docker. PHP is an appealing scripting language for
                        backend applications, specifically APIs that service web applications. Docker is a great
                        modern
                        tech that simplifies the deployment of applications.
                    </p>
                    <div class="pt-2">
                        <span class="underline"><a href="https://github.com/jonkarrer/prep_api">Github</a></span>
                    </div>
                </article>

                <article class="grid gap-2">
                    <h3>Yafa</h3>
                    <p>
                        The stock market is full of data that can be used in various ways. This particular
                        project
                        uses a Rust Api to get data and transform it into views. Got a chance to use Bun.js with
                        TypeScript.
                    </p>
                    <div class="pt-2">
                        <span class="underline"><a href="https://github.com/jonkarrer/yafa">Github</a></span>
                    </div>
                </article>
                <img src="/assets/image/ody.jpg" alt="random space parts">
            </div>

            <p class="pb-6">
                Some open source focused projects....
            </p>
            <div class="grid gap-8 pb-8">
                <article class="grid gap-2">
                    <h3>Brize Auth</h3>
                    <p>
                        A simple auth server in Rust. Still a work in progress, but functions really well as is.
                        Built
                        for MySQL and SurrealDB databases for now. Was a good project to understand how
                        authentication
                        works at a low level.
                    </p>
                    <div class="pt-2">
                        <span class="underline"><a href="https://github.com/xbrize/brize_auth">Github</a></span>
                        <span class="underline"><a href="https://crates.io/crates/brize_auth">Crates.io</a></span>
                    </div>
                </article>

                <article class="grid gap-2">
                    <h3>Alpaca Api</h3>
                    <p>
                        <a class="underline" href="https://alpaca.markets/">Alpaca</a> is a service that
                        provides endpoints for stock market data. They do not have an official Rust SDK, so I
                        scrapped
                        one together.
                    </p>
                    <div class="pt-2">
                        <span class="underline"><a
                                href="https://github.com/jonkarrer/alpaca_api_client">Github</a></span>
                        <span class="underline"><a
                                href="https://crates.io/crates/alpaca_api_client">Crates.io</a></span>
                    </div>
                </article>

                <article class="grid gap-2">
                    <h3>Tindi</h3>
                    <p>
                        I made a simple technical analysis indicator library in Rust. It uses various algorithms
                        to
                        generate technical indicators which are stock market signals to buy and sell.
                    </p>
                    <div class="pt-2">
                        <span class="underline"><a href="https://github.com/jonkarrer/tindi">Github</a></span>
                        <span class="underline"><a href="https://crates.io/crates/tindi">Crates.io</a></span>
                    </div>
                </article>
                <img src="/assets/image/space_ship_interior.jpg" alt="pixel art of a space base">
            </div>

            <p class="pb-6">
                Some machine learning focused projects....
            </p>
            <div class="grid gap-8 pb-8">
                <article class="grid gap-2">
                    <h3>Tabular Binary Classification</h3>
                    <p>
                        A tabular binary classification project using the classic titanic dataset. This was my
                        first
                        attempt at tabular binary classification, and I am happy with it. Used the Burn crate
                        from the
                        Rust ecosystem and submitted to <a href="https://www.kaggle.com/">Kaggle</a>.
                    </p>
                    <div class="pt-2">
                        <span class="underline"><a
                                href="https://github.com/jonkarrer/titanic_classifier">Github</a></span>
                    </div>
                </article>

                <article class="grid gap-2">
                    <h3>Natural Language</h3>
                    <p>
                        An attempt to train an NLP to classify patent types. The training did not create an
                        accurate
                        model
                        honestly, but was a great experience using the Transformer neural network architecture.
                    </p>
                    <div class="pt-2">
                        <span class="underline"><a
                                href="https://github.com/jonkarrer/patent_classifier">Github</a></span>
                    </div>
                </article>

                <article class="grid gap-2">
                    <h3>MNIST Digit Classifier</h3>
                    <p>
                        This is the case study of the classic MNIST dataset which contains 70,000 images of
                        handwritten
                        numbers. This was a good lesson for creating a neural network from scratch, as well
                        playing with
                        custom loss functions.
                    </p>
                    <div class="pt-2">
                        <span class="underline"><a
                                href="https://github.com/jonkarrer/digit_classifier_rs">Github</a></span>
                    </div>
                </article>
                <img src="/assets/image/island.jpg" alt="pixel art of a space base">
            </div>
        </section>

        <section class="border-b-2 py-8">
            <article class="pb-2">
                <h2>Experience with</h2>
            </article>
            <div class="flex flex-wrap flex-grow">
                <h4 class="pr-8 py-2">TypeScript</h4>
                <h4 class="pr-8 py-2">React</h4>
                <h4 class="pr-8 py-2">Rust</h4>
                <h4 class="pr-8 py-2">Electron</h4>
                <h4 class="pr-8 py-2">SQL</h4>
                <h4 class="pr-8 py-2">Git</h4>
                <h4 class="pr-8 py-2">Bash</h4>
                <h4 class="pr-8 py-2">Linux</h4>
                <h4 class="pr-8 py-2">Node</h4>
                <h4 class="pr-8 py-2">Docker</h4>
                <h4 class="pr-8 py-2">Prompt Design</h4>
                <h4 class="pr-8 py-2">PHP</h4>
                <h4 class="pr-8 py-2">Nginx</h4>
                <h4 class="pr-8 py-2">AWS</h4>
                <h4 class="pr-8 py-2">Sentry</h4>
                <h4 class="pr-8 py-2">Logrocket</h4>
                <h4 class="pr-8 py-2">PWAs</h4>
                <h4 class="pr-8 py-2">Vite</h4>
                <h4 class="pr-8 py-2">Next</h4>
                <h4 class="pr-8 py-2">Voiceflow</h4>
                <h4 class="pr-8 py-2">Svelte</h4>
                <h4 class="pr-8 py-2">Twilio</h4>
                <h4 class="pr-8 py-2">ElevenLabs</h4>
            </div>
        </section>
        <section class="grid gap-2 border-b-2 py-8">
            <h2>Contact me</h2>
            <menu class="grid gap-4 md:flex justify-between flex-wrap">
                <div>
                    <span class="underline"><a href="https://www.linkedin.com/in/jonkarrer">LinkedIn</a></span>
                    <span class="underline"><a href="https://github.com/jonkarrer">GitHub</a></span>
                </div>


                <span class="underline"><a href="mailto:9sZoN@example.com">karrerdigital@gmail.com</a></span>
            </menu>

            <img class="pt-8" src="/assets/image/partners.jpg" alt="">
        </section>

        <footer>
            <p>© 2024 Jon Karrer</p>
            <p>Built with Rust 🦀</p>
        </footer>
    </main>
</body>

</html>