<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css">
    <title>Journal</title>
</head>

<style>
    .entry {
        padding-bottom: 32px;
        padding-top: 20px;
        display: block;
        border-bottom: 1px dashed #e5e7eb;
    }
</style>

<body>
    <main>
        <header>
            <a href="/">Jon Karrer</a>
            <nav>
                <a href="/journal">Journal</a>
                <a href="/#projects">Projects</a>
            </nav>
        </header>

        <section class="border-b-2 py-8">
            <article class="grid gap-2">
                <h2>Journal</h2>
                <p>
                    I like to journal while coding. It helps organize ideas and keep track of progress.
                    Also a great tool for remembering context when switching between projects. Here is a
                    collection of some of those entries.
                </p>
            </article>
            <img class="pt-8" src="/assets/image/space_car.jpg" alt="">
        </section>

        <section class="border-b-2 py-8">
            <h2 class="pb-5">Entries</h2>

            {% for entry in entries %}
            <a class="pb-8 pt-5 block border-b-[1px] border-dashed" href="/journal/{{ entry.id }}">
                <h3 class="pb-2">{{ entry.title }}</h3>
                <p>{{ entry.summary }}</p>
            </a>
            {% endfor %}
        </section>

        <footer>
            <p>© 2024 Jon Karrer</p>
            <p>Built with Rust 🦀</p>
        </footer>
    </main>
</body>

</html>